<%- include('./partials/header') %>
    <h1>My Playlists</h1>
    <table>
        <tbody>
        <%index.forEach((element,index)=>{ %>
        <tr>
            <td><a href="/playlists/<%=element.id%>"><%=element.name%></a></td>
        </tr>
   <% })%>
    </tbody>
    </table>
    <a href="/playlists/new"><button>New Playlist</button></a>
</body>
</html>
<%- include('./partials/footer') %>