<%- include('./partials/header') %>
<div class="#212121 grey darken-4 center-align">
    <h1>
        <i class="medium material-icons">album</i>
        My Playlists
    </h1>
        <ul>
        <%index.forEach((element,index)=>{ %>
        <li>
            <a href="/playlists/<%=element.id%>"><%=element.name%></a>
        </li>
   <% })%>
    </ul>
    <a href="/playlists/new"><button>New Playlist</button></a>


</div>
</body>
</html>
<%- include('./partials/footer') %>