<%- include('./partials/header') %>
<div id="index" class=" #212121 grey darken-4">
    <br>
    <div class="grey-text center-align ">
        <h1>
            <i class="medium material-icons">album</i>
            My Playlists
        </h1>
       
            <ul >
            <%index.forEach((element,index)=>{ %>
            <li>
                <h3><a class="blue-text" href="/playlists/<%=element.id%>"><%=element.name%></a></h3>
            </li>
    <% })%>
        </ul>
        <a href="/playlists/new"><button>New Playlist</button></a>


    </div>
</div>    
</body>
</html>
<%- include('./partials/footer') %>