<%- include('./partials/header') %>
<div id="main" class="#212121 grey darken-4 center-align">
<br>
<h2 class="green-text lighten-2">New Playlist</h2>
    <form action="/playlists/" method="POST">
        <label for="name" class="green-text lighten-2">Playlist Name:</label>
        <input type="text" name="name" id="name">
        <label for="info" class="green-text lighten-2">Playlist Info:</label>
        <input type="text" name="info" id="info">
        <input class="green darken-2" type="submit" name="submit" id="submit">
    </form>


    <br>
    <br>
</div>
</body>
</html>
<%- include('./partials/footer') %>